<aside>
    <h3>WPR</h3>
    <header>
        <h2>HTML Quiz</h2>
    </header>
    
    <ul>
        <li><a href="/"><i class="far fa-question-circle"></i> All questions</a></li>
        <li><a href="/add"><i class="far fa-plus"></i> New question</a></li>
    </ul>
</aside>
<main>
    <div class="container">
        <h1>Edit question</h1>
        {{#with question}}
        <form id="frm-create" action="/edit-question/{{_id}}?_method=PUT" method="post">
            <div class="form-group">
                <label for="text">Text</label>
                <input type="text" name="text" value="{{text}}" required/>
            </div>
            
            <div class="form-group" id="form-answer">
                <label>Answers: </label>
                <div class="part-answers">
                {{#each answers as |item i|}}

                    <div class="answer" id="answer-{{i}}">
                        <input type="text" name="answers" value="{{item}}" />
                        <input name="correctAnswer" type="radio" id="answer{{i}}" value="{{i}}" {{checked ../correctAnswer i}}/> <label for="answer{{i}}">correct</label>
                        <button type="button" class="btn btn-orange btn-remove" onclick="removeAnswer(this)">
                        <i class="fas fa-times"></i> Remove</button>
                    </div>
                    
                {{/each}}
                </div>
                <div class="text-right">
                    <button id="btn-add" type="button" class="btn btn-blue" onclick="addQuestion();">
                    <i class="fas fa-plus"></i> Add</button>
                </div>
            </div>
            <div class="actions">
                <button type="submit" class="btn btn-blue btn-large btn-save" onclick="submitQuestion(this);"><i class="fas fa-save"></i> Save</button>
            </div>
        </form>
        {{/with}}
    </div>
</main>